<!DOCTYPE html>
<html ng-app="exampleApp">

<head>
    <meta charset="utf-8">
    <title>SportsStore</title>
    <script src="angular.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap-theme.css">

    <script>
        angular.module("exampleApp",[])
            .controller("defaultCtrl",function($scope){
                $scope.todos=[
                    {action:"Get groceries",complete:false},
                    {action:"Call plumber",complete:false},
                    {action:"Buy running shoes",complete:true},
                    {action:"Buy flowers",complete:false},
                    {action:"Call family",complete:false},
                ];

                $scope.addNewItem=function(newItem){
                    console.log(newItem)
                    if(angular.isDefined(newItem) && angular.isDefined(newItem.location) && angular.isDefined(newItem.action) ){
                        $scope.todos.push(
                            {action:newItem.action+"("+newItem.location+")",complete:false}
                        );
                    }
                    
                };

                $scope.addUser=function(userDetails){
                    if(myForm.$valid){
                         $scope.message=userDetails.name + "(" + userDetails.eamil + ")" + "(" + userDetails.agreed + ")";
                    }else{
                        $scope.showValidation=true;
                    }
                   
                }
                $scope.message="Ready";

                $scope.getError=function(error){
                    if(angular.isDefined(error)){
                        if(error.required){
                            return "Please enter a value";
                        }else if(error.email){
                            return "Please enter a valid email address";
                        }
                    }
                }
                

            })
            

    </script>
    <style>
        /*form .ng-invalid.ng-dirty {
            background: lightpink;
        }
        form .ng-invalid-required.ng-dirty{
            background:lightpink;
        }
        form .ng-invalid-email.ng-dirty{
            background:lightgoldenrodyellow;
        }
        form .ng-valid.ng-dirty {
            background: lightgreen;
        }
        
        span.summary.ng-invalid {
            color: red;
            font-weight: bold;
        }
        
        span.summary.ng-valid {
            color: green;
        }
        div.error{ color:red; font-weight:bold; }*/
        form.validate .ng-invalid-required.ng-dirty{background:lightpink}
        form.validate .ng-invalid-email.ng-dirty{ background:lightgoldenrodyellow ;}
        div.error{ color:red; font-weight:bold; }
    </style>
</head>

<body>
    <!--<div class="panel" id="todoPanel" ng-controller="defaultCtrl">
        <h3 class="panel-header">To Do List
            <span class="label label-info">
                {{ (todos | filter:{complete:'false'}).length }}
            </span>
        </h3>

        <div class="row">
            <div class="col-xs-6">
                <div class="well">

                    <div class="form-group row">
                        <label for="actionText">Action:</label>
                        <input type="text" id="actionText" ng-model="newTodo.action" class="form-control">
                    </div>

                    <div class="form-group row">
                        <label for="actionLocation">Location:</label>
                        <select name="" id="actionLocation" ng-model="newTodo.location" ng-init="newTodo.location='Home'" class="form-control">
                            <option  >Home</option>
                            <option   >Office</option>
                            <option >Mall</option>
                        </select>
                    </div>

                    <button class="btn btn-primary btn-block" ng-click="addNewItem(newTodo)">Add</button>

                </div>
            </div>


            <div class="col-xs-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Action</th>
                            <th>Done</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in todos">
                        <td>{{$index+1}}</td>
                        <td>{{item.action}}</td>
                        <td>
                            <input type="checkbox" ng-model="item.complete">
                        </td>
                    </tr>
                </table>
            </div>
        </div>



    </div>-->

    <!--<div class="panel" id="todoPanel" ng-controller="defaultCtrl">
        <form action="" name="myForm" novalidate ng-submit="addUser(newUser)">
            <div class="well">
                <div class="form-group">
                    <label for="">Name:</label>
                    <input type="text" name="userName" class="form-control" required ng-model="newUser.name">
                </div>

                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="email" name="userEmail" class="form-control" required ng-model="newUser.email">
                    <div class="error" ng-show="myForm.userEmail.$invalid && myForm.userEmail.$dirty">
                        <span ng-show="myForm.userEmail.$error.eamil">
                            Please enter a valid email address
                        </span>
                        <span ng-show="myForm.userEmail.$error.required">
                            Please enter a value
                        </span>
                    </div>
                </div>

                <div class="checkbox">
                    <label for="agreed">
                        <input type="checkbox" name="agreed" id="agreed" ng-model="newUser.agreed" required>I agree to the terms and conditions
                    </label>
                </div>

                <button class="btn btn-primary btn-block" type="submit" ng-disabled="myForm.$invalid">OK</button>

                <div class="well">
                    Message:{{message}}
                    <div>
                        Valid :
                        <span class="summary" ng-class="myForm.$valid? 'ng-valid' : 'ng-invalid'">
                            {{myForm.$valid}}
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>-->

    <div class="panel" id="todoPanel" ng-controller="defaultCtrl">
        <form  name="myForm" novalidate ng-submit="addUser(newUser)" ng-class="showValidation ? 'validate' : '' ">
            <div class="well">
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="email" name="userEmail" class="form-control" required ng-model="newUser.email">
                    <div class="error" ng-show="showValidation">
                        {{getError(myForm.userEmail.$error)}}
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">OK</button>
            </div>
        </form>

           <select name="" id=""  ng-model="slectValue" ng-options="item.action for  item in todos">
               <option value="">(pick one)</option>
           </select>

    </div>

 

</body>

</html>